/* Font */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Noto+Sans');
/* Universal Styles */

* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
}

html {
    line-height: 1.15;
}

body {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1b;
    font-family: 'IBM Plex Sans', sans-serif;
}

.page-columns {
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.page-col-left {
    width: 156px;
}

.page-col-right {
    width: 100%;
}

.art {
    background-image: url(https://www.redditstatic.com/accountmanager/bbb584033aa89e39bad69436c504c9bd.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.column-container {
    padding: 24px;
    min-width: 320px;
    max-width: 440px;
}

form {
    display: flex;
    flex-direction: column;
}

.no-margin {
    margin: 0;
}

.title {
    font-size: 18px;
    line-height: 22px;
}

.description,
p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.form-field {
    position: relative;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.check {
    z-index: 1;
    background-image: url(https://www.redditstatic.com/accountmanager/d489caa9704588f7b7e1d7e1ea7b38b8.svg);
    width: 12px;
    height: 10px;
    position: absolute;
    display: block;
    right: 14px;
    top: 18px;
}

.field-text-input {
    width: 100%;
    height: 48px;
    border: 1px solid #24a0ed;
    border-radius: 4px;
    padding: 22px 12px 10px;
    background-color: #fcfcfb;
}

input,
textarea {
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.input-label {
    line-height: 23px;
    font-weight: 600;
    letter-spacing: .5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    top: 14px;
    left: 12px;
    color: #a5a4a4;
    pointer-events: none;
}

button,
input {
    overflow: visible;
}